.sidebar_wrap {
  width: 250px;
  border-right: 1px solid var(--white);
}
.right {
  overflow: auto;
  height: 100vh;
}
.right::-webkit-scrollbar {
  display: none;
}
.video_in {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.video_in video {
  width: 310px;
  height: auto;
}
.card_discrip{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_discrip p{
  font-size: 14px;
}