.container_bottom {
  display: grid;
  grid-template-columns: 0.5fr 10.3fr;
}
.sidebar_wrapper {
  width: 100%;
  border-right: 1px solid var(--white);
  overflow: hidden;
}
.sidebar_wrapper:hover {
  width: 250px !important;
}
.video_details {
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  height: 100vh;
  overflow: auto;
}
.video_details::-webkit-scrollbar {
  display: none;
}
/** Video Details Left Section**/
/** Left Section Top**/
.video_details_left {
  flex: 2;
}
.video_details_vid {
  width: 100%;
  height: auto;
}
.video_details_vid video {
  width: 100%;
  border-radius: 5px;
}
/** Left Comment Section**/
/** Comments info Section**/
.info_section {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 15px;
}
.info_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.info_top_left h1 {
  font-size: 18px;
  line-height: 20px;
}
.info_top_left span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.info_top_right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.likebtn {
  border: 1px solid var(--white);
  border-radius: 7px;
}
.likebtn button {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 20px;
  padding: 5px 10px;
}
.likebtn button:hover {
  background: var(--button);
}
.likebtn button:nth-child(1) {
  border-right: 1px solid var(--button);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.likebtn button:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.save_btn {
  border: none;
  background: var(--white);
  padding: 5px 15px;
  border-radius: 7px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.save_btn:hover {
  background: rgb(202, 197, 197);
}
.info_mid {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--white);
  padding-bottom: 15px;
  align-items: center;
}
.info_mid button {
  border: none;
  background: var(--red);
  padding: 0px 15px;
  border-radius: 7px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--white);
  height: 35px;
}
.info_mid button:hover {
  background: #be3737;
}
.mid_left {
  display: flex;
  gap: 15px;
}
.mid_left_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid_left_content h2 {
  font-size: 16px;
}
.mid_left_content span {
  font-size: 14px;
}
.info_bottom {
  padding: 12px 0px 0px;
}
/** Comments Area Portion**/
.comments {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}
.comments_top {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--white);
}
.comments_top h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.comments_top input {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 10px;
  font-size: 16px;
  background: none;
  outline: none;
  padding: 10px;
  margin-bottom: 15px;
  color: var(--white);
}
.comments_content {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: start;
  border-bottom: 1px solid var(--white);
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.comments_text h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}
.comments_text h4 {
  font-size: 14px;
  font-weight: 400;
}
.comments_text h5 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
/** Video Details right Section**/
.video_details_right {
  flex: 1;
}

.card_inner {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1.5fr;
  margin-bottom: 10px;
  border: 1px solid var(--white);
  grid-gap: 10px;
}

.card_info h1 {
  font-size: 15px;
}
.card_info span {
  font-size: 12px;
}
.card_info h2 {
  font-size: 15px;
}
