.sidebar_wrapper {
  width: 115px;
  border-right: 1px solid var(--white);
  overflow: hidden;
}
.sidebar_wrapper:hover {
  width: 450px;
}

.video_details {
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  height: 100vh;
  overflow: auto;
}
.video_details::-webkit-scrollbar {
  display: none;
}
/** Video Details Left Section**/
/** Left Section Top**/
.video_details_left {
  flex: 2;
}
.video_details_vid {
  width: 100%;
  height: auto;
}
.video_details_vid video {
  width: 100%;
  border-radius: 5px;
}
/** Left Comment Section**/
.info_section {
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 15px;
}
.info_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.info_top_left h1 {
  font-size: 18px;
  line-height: 20px;
}
.info_top_left span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.info_top_right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.likebtn {
  border: 1px solid var(--white);
  border-radius: 7px;
}
.likebtn button {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 20px;
  padding: 5px 10px;
}
.likebtn button:hover {
  background: var(--button);
}
.likebtn button:nth-child(1) {
  border-right: 1px solid var(--button);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.likebtn button:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/** Video Details right Section**/
.card_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.video_details_right {
  flex: 1;
}
